{% extends 'barra.html' %}

{% block component %}
<div class="parallax">
  <!-- Banner Principal -->
  <div id="banner-1" class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 p-lg-5">
        <h1 class="tit-ban-1 text-break">Fragrâncias para momentos especiais</h1>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <img class="w-75 invert"
          src="https://p0.pikist.com/photos/834/937/bottle-colors-flowers-glass-items-indoors-perfume-petals-roses-communication-text.jpg"
          alt="">
      </div>
      <div class="col-12 col-lg-4">
        <div id="img-2" class="row">
          <img class="w-75 p-2 invert"
            src="https://p0.pikist.com/photos/96/901/still-life-roses-perfume-perfume-bottles-fragrance-rose-petals.jpg"
            alt="">
        </div>
        <div class="row">
          <p class="p-ban-1">Algumas pessoas compram uma fragrância pela propaganda que foi feita dela, outras pelo belo
            frasco do produto e ainda outras escolhem a fragrância.</p>
        </div>
        <div class="row">
          <button type="button" id="bt-gr" onclick="location.href='/loja';">CONSULTE MAIS INFORMAÇÕES</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Melores Vendidos -->

  <!-- Testimonios -->
  <div class="box-test">
    <h1 class="tit-box my-2 text-center">Testemunhas</h1><br>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <div id='card-test' class="d-flex position-relative">
            <div class="row">
              <div class="col-4 m-4 text-center">
                <img src="../static/images/michi.png"
                  class="prof-img img-thumbnail w-75" alt="...">
              </div>
              <div class="col-6">
                <h5 class="m-2 tit-ban-2">Excelente serviço</h5>
                <div>
                  <p class="p-ban-2">"Comprar na Aurora Perfumaria foi uma experiência maravilhosa! A seleção de perfumes é incrível e as descrições dos produtos me ajudaram a escolher exatamente o que eu queria. Fiquei impressionada com a qualidade dos perfumes e o quão bem embalados eles chegaram. Além disso, a entrega foi super rápida, recebi meu pedido em apenas dois dias. Com certeza voltarei a comprar aqui e recomendo para todos os meus amigos!"</p>
                  <a href="#" class="link">@susej.urbina</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <div id='card-test' class="d-flex position-relative">
            <div class="row">
              <div class="col-4 m-4 text-center">
                <img src="../static/images/ada.png"
                  class="prof-img img-thumbnail w-75" alt="...">
              </div>
              <div class="col-6">
                <h5 class="m-2 tit-ban-2">Experiencia maravilhosa</h5>
                <div>
                  <p class="p-ban-2">"Eu amo perfumes e sempre estou à procura de novas fragrâncias. Na Aurora, encontrei marcas exclusivas e perfumes que não encontro em lugar nenhum. A qualidade dos produtos é excelente e o site é muito fácil de navegar. Minha compra chegou rapidamente e com tudo muito bem embalado. Estou muito feliz com minha compra e com o serviço oferecido. Parabéns pelo ótimo trabalho!"</p>
                  <a href="#" class="link">@adaluz.lara</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <div id='card-test' class="d-flex position-relative">
            <div class="row">
              <div class="col-4 m-4 text-center">
                <img src="../static/images/astrid.png"
                  class="prof-img img-thumbnail w-75" alt="...">
              </div>
              <div class="col-6">
                <h5 class="m-2 tit-ban-2">Vale a pena voltar</h5>
                <div>
                  <p class="p-ban-2">"Fiquei muito satisfeita com a minha experiência de compra na Aurora. O site oferece uma variedade enorme de perfumes e as informações detalhadas sobre cada produto facilitaram muito a minha escolha. Os perfumes que comprei chegaram em perfeito estado e a entrega foi muito rápida. A qualidade dos produtos é excepcional. Certamente farei mais compras no futuro e recomendo para todos que procuram perfumes de alta qualidade com um ótimo serviço."</p>
                  <a href="#" class="link">@astrid_urbina_villarroel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  

</div>
{% endblock %}