{% extends 'barra.html' %}

{% block component %}
<div class="parallax">
    <div class="container-fluid">
        <div id="contact-form" class="row justify-content-center">
            <div class="row justify-content-center">
                <h1 class="display-6 my-5">Sobre nós</h1>
            </div>
            <div class="col-12 col-lg-4 animate__animated animate__fadeInRight">
                <img id="im-about-1" class="w-100" src="https://images.unsplash.com/photo-1595425959632-34f2822322ce?q=80&w=1596&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img id="im-about-2" class="w-100 d-none d-md-block" src="https://images.unsplash.com/photo-1622618991746-fe6004db3a47?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>
            <div id="container-text-about" class="col-12 col-lg-5 ">
                <p><strong>Aurora Perfumes</strong> é um empreendimento novo, apaixonado por perfumes, dedicado a trazer para você uma ampla variedade de fragrâncias nacionais e importadas.</p><br>

                <p>Além de oferecer uma coleção diversificada de perfumes em frascos originais, também somos especializados em decants. <strong>Decants são pequenas porções de perfume retiradas de frascos maiores</strong> e embaladas em recipientes menores, permitindo que você experimente uma variedade de fragrâncias sem o compromisso de comprar um frasco completo.</p><br>

                <p>Nosso objetivo com os decants é proporcionar a oportunidade de descobrir novas fragrâncias e experimentar diferentes notas olfativas, <strong>permitindo que você encontre o perfume perfeito para cada ocasião e estilo pessoal.</strong></p><br>

                <p>Entendemos que cada pessoa tem sua própria jornada olfativa, e estamos aqui para ajudá-lo a explorar e encontrar as fragrâncias que mais combinam com você.</p><br>

                <p>Com uma combinação de produtos de <strong>alta qualidade, atendimento ao cliente excepcional e paixão pelo que fazemos</strong>, estamos empenhados em tornar a sua experiência de compra de perfumes memorável e satisfatória.</p><br>

                <p>Explore <a id="link" href="/loja">nossa coleção</a> e descubra o mundo fascinante dos perfumes através dos nossos decants. Obrigado por nos escolher para fazer parte da sua jornada perfumada!</p><br>
            </div>
        </div>
    </div>
</div>


{% endblock %}
