@import "styles.css";

/* Banner */
#banner-1 {
    background-color: var(--secundario-cranberry);
    padding: 5rem;
    margin-bottom: 2rem;
}

.tit-ban-1 {
    font-size: 400%;
    color: var(--branco-pampa);
    font-family: var(--fonte-titulo);
    align-items: center;
}

.p-ban-1 {
    padding: auto;
    color: var(--branco-pampa);
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
    padding: 1.5rem;   
}

#bt-gr {
    background-color: var(--primario-flush);
    color: var(--branco-pampa);
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    width: auto;
    font-size: 1.2rem;
    padding: .125rem, .5rem;
    border: 1px solid var(--branco-pampa);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.invert {
    transform: scaleX(-1);
}

#banner-2 {
    background-color: var(--branco-pampa);
    text-align: center;
}

.tit-ban-2 {
    font-size: 475%;
    color: var(--vinho-escuro);
    font-family: var(--fonte-titulo);
    align-items: center;
}

@media screen and (max-width: 768px){
    #banner-1 {
        margin-top: 7rem;
        padding: 0;
        padding-left: 1rem;
        font-size: 75%;
    }

    #img-1 img{
        width: 95%;
    }

    #img-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Card */
.card-body h4, h2 {
    color: var(--primario-flush);
    font-family: var(--fonte-titulo);
}

.card-body p {
    font-family: var(--fonte-paragrafo);
}

.tit-box-2 {
    font-size: 4rem;
    color: var(--vinho-escuro);
    font-family: var(--fonte-titulo);
    align-items: center;
    margin: 0 4vw;
    background-color: var(--branco-fundo);
}

.card img {
    transition: transform .2s;
}

.card img:hover {
  transform: scale(1.05)
}

#card-text {
    background-color: var(--gold-claro);
}

/* Carrousel */

.box-test {
    background-color: var(--branco-pampa);
    padding: 2vw;
}

.prof-img {
    border-radius: 50%;
}

#card-test {
    background-color: var(--primario-flush);
    margin: 2vw 12vw;
    padding: 2vw;
    min-height: 30vw;
}

.tit-box {
    font-size: 4rem;
    color: var(--vinho-escuro);
    font-family: var(--fonte-titulo);
    align-items: center;
}

.tit-ban-2 {
    font-size: 3rem;
    color: var(--branco-pampa);
    font-family: var(--fonte-titulo);
}

.p-ban-2 {
    padding: auto;
    color: var(--branco-pampa);
    font-family: var(--fonte-paragrafo);
    font-size: 1.2rem;
    padding: .5rem;
    font-weight: 300;  
}

.link {
    text-decoration: none;
    color: var(--gold);
}

#card-test a:hover {
    color: var(--branco-pampa);
}

/* Blog */

.tit-ban-3 {
    font-size: 475%;
    color: var(--primario-flush);
    font-family: var(--fonte-titulo);
    align-items: center;
}

.box-blog {
    background-color: var(--branco-fundo);
    padding: 2vw;
}

.post-data {
    color: var(--primario-flush);
    font-family: var(--fonte-titulo);
}

#card-post {
    background-color: var(--branco-pampa);
}

.card-text-p {
    font-family: var(--fonte-paragrafo);
}

.card-text-p2 {
    font-family: var(--fonte-paragrafo);
    font-size: larger;
}

#cont-post {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#link-post{
    background-color: var(--branco-fundo);
    display: flex;
    align-items: center;
}

#box-title {
    padding: 5vw 5vw 1vw 5vw;
    background-color: var(--branco-pampa);
    display: flex;
    align-content: center;
}

#tit-box-3 {
    margin-left: 1vw;
    font-size: 4rem;
    color: var(--primario-flush);
    font-family: var(--fonte-titulo);
}

.fundo-post{
    background-color: var(--branco-fundo);
}

.link-p {
    color: var(--primario-flush);
    text-decoration: none;
}

.link-p:hover {
    color: var(--secundario-cranberry);
}

/* Contacto 2 */

#contact2 {
    background-image: url("../images/fundo-contatos.jpg");
    background-size: cover;
}

.cont-box {
    display: inline-block;
    margin-top: 3vw;
    padding: 5vw;
    background-color: var(--branco-pampa);
}

#contact2 button {
    background-color: var(--primario-flush);
    color: var(--branco-pampa);
    border-radius: 0;
}

#contact2 h2 {
    color: var(--primario-flush);
    font-family: var(--fonte-titulo);
}
