@import "styles.css";

#banner-1 {
    background-color: var(--secundario-cranberry);
    padding: 5rem;
    margin-bottom: 2rem;
}

.tit-ban-1 {
    font-size: 475%;
    color: var(--branco-pampa);
    font-family: var(--fonte-titulo);
    align-items: center;
}

.p-ban-1 {
    padding: auto;
    color: var(--branco-pampa);
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
    padding: 1.5rem;   
}

#bt-gr {
    background-color: var(--primario-flush);
    color: var(--branco-pampa);
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    width: auto;
    font-size: 1.2rem;
    padding: .125rem, .5rem;
    border: 1px solid var(--branco-pampa);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.invert {
    transform: scaleX(-1);
}

#banner-2 {
    background-color: var(--branco-pampa);
    text-align: center;
}

.tit-ban-2 {
    font-size: 475%;
    color: var(--vinho-escuro);
    font-family: var(--fonte-titulo);
    align-items: center;
}

@media screen and (max-width: 768px){
    #banner-1 {
        margin-top: 7rem;
        padding: 0;
        padding-left: 1rem;
        font-size: 75%;
    }

    #img-1 img{
        width: 95%;
    }

    #img-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Carrousel */

.box-test {
    background-color: var(--branco-pampa);
}

.prof-img {
    border-radius: 50%;
}

#card-test {
    background-color: var(--primario-flush);
    margin: 2vw 12vw;
    padding: 2vw;
}

.tit-box {
    font-size: 4rem;
    color: var(--vinho-escuro);
    font-family: var(--fonte-titulo);
    align-items: center;
}

.tit-ban-2 {
    font-size: 3rem;
    color: var(--branco-pampa);
    font-family: var(--fonte-titulo);
}

.p-ban-2 {
    padding: auto;
    color: var(--branco-pampa);
    font-family: var(--fonte-paragrafo);
    font-size: 1.2rem;
    padding: .5rem;
    font-weight: 300;  
}

.link {
    text-decoration: none;
    color: var(--gold);
}

#card-test a:hover {
    color: var(--branco-pampa);
}